* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.Header {
    background-color: #000;
    padding: 15px;
    color: #fff;
    border-bottom: 1px solid #F00;
    font-family: 'Montserrat', sans-serif;
}

.subHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 75vw;
    text-align: center;
    align-items: center;
}

.Lorem {
  width: 200px;
  font-size: 32px;
  align-items: center;
}

.infoHeader {
    display: flex;
    font-size: 12px;
    gap: 20px;
    color: #ccc;
}

.ubi {
    color: #fff;
    font-size: 13px;
}

.infoHeader i {
    color: #F00;
    font-size: 13px;
}

.infoHeader .kj:hover {
    cursor: pointer;
    color: #F00;
}

.redes {
    display: flex;
    font-size: 18px;
    gap: 10px;
    color: #ccc;
}

.redes img {
    height: 18px;
}

.suite {
    text-decoration: none;
    color: #ccc;
    align-items: center;
}

.suite:hover {
    color: #F00;
}

.MENU {
    display: flex;
    color: #ccc;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding: 10px 0;
    position: sticky;
    top: 0;
    background-color: #000;
    z-index: 1000;
}

.submenu {
    display: flex;
    font-size: 12px;
    letter-spacing: 1px;
    gap: 25px;
    justify-content: start;
    font-weight: bold;
    text-decoration: none;
    color: #ccc;
}

.submenu2 {
    display: flex;
    font-size: 12px;
    letter-spacing: 1px;
    gap: 25px;
    justify-content: end;
    font-weight: bold;
}

.compra {
    color: #99ff66 !important;
}

.submenu p {
    cursor: pointer;
    transition: 300ms;
}

.submenu2 p {
    cursor: pointer;
}

.submenu p:hover {
    color: #F00;
}

.submenu2 p:hover {
    color: #F00;
}

.submenu a {
  cursor: pointer;
  transition: 300ms;
  text-decoration: none;
  color: #ccc;
}

.submenu2 a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc;
}

.submenu a:hover {
  color: #F00;
}

.submenu2 a:hover {
  color: #F00;
}

.submenu a {
  cursor: pointer;
  transition: 300ms;
}

.submenu2 a {
  cursor: pointer;
}

.submenu a:hover {
  color: #F00;
}

.submenu2 p:hover {
  color: #F00;
}

.Encabezado {
    background-color: #1E2529;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Titulo {
    text-align: center;
    padding-top: 20px;
    text-wrap: pretty;
}

.Titulo h1 {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0.4rem;
    text-wrap: pretty;
    font-weight: 400;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 0 120px;
}

.lineas {
    align-items: center;
}

.line1 {
    height: 2px;
    background-color: #F00;
    margin: 3px auto;
    width: 50px;
}

.line2 {
    height: 2px;
    background-color: #F00;
    margin: 3px auto;
    width: 200px;
}

.turnos {
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.turnos h1 {
    font-weight: 600;
}

.supercontainer {
    display: flex;
    justify-content: center;
}

.Container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 1197px;
    padding-top: 20px;
}

.cuarto {
    display: flex;
    flex-direction: column;
    width: 24vw;
}

.imagen img{
    width: 100%;
    height: 100%;
}

.INFO {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    flex-direction: column;
    gap: 15px;
    background-color: #1E2529;
    padding: 20px
}

.infoTitulo {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
}

.cuartoT {
    color: #ccc;
    letter-spacing: 0.2px;
    font-weight: 400;
}

.precio {
    color: #F00;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.infoinfo {
    color: #fff;
    text-align: left;
    text-wrap: pretty;
    width: 80%;
}

.botones {
    display: flex;
    gap: 30px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.mas {
    padding: 10px 20px;
    font-size: 13px;
    letter-spacing: 0.5px;
    border: 1px solid #F00;
    transition: all 0.3s ease-out;
    border-radius: 0;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.comprabtn {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-right: 0px;
    background-color: #9F6;
    border: 1px solid #FFF;
    color: #F00;
    font-weight: bold;
    transition: all 0.3s ease-out;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    width: fit-content;
}

.mas:hover {
    background-color: #F00;
}

.comprabtn:hover {
    background-color: #F00;
    color: #ccc;
    border-color: #F00;
}

.carousel-container {
    width: 75%;
    margin: auto;
    overflow: hidden;
    position: relative;
    cursor: grab;
    padding: 40px 0 0 0;
  }

  .carousel-container:active {
    cursor: grabbing;
  }

  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel img {
    width: 100%;
    height: auto;
    user-select: none;
    padding: 0 10px;
  }

  .carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 20px 0 40px 0;
  }

  .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .dot.active {
    background-color: #f00;
  }
    
  .descripcion {
    justify-content: center;
    margin: auto;
    display: flex;
    gap: 30px;
    padding: 0 0 40px 0;
  }

  .Carac {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    background-color: #1E2529;
    color: #fff;
    gap: 20px;
  }

  .enca-c {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    color: #ccc;
    border-bottom: 1px solid #ccc;
  }

  .titu-c {
    color: #F00;
    letter-spacing: 5px;
  }

  .cd {
    color: #ccc;
    display: flex;
    gap: 8px;
    font-size: 14px;
  }

  .cd b {
    color: #fff;
  }

  .c-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    font-family: 'Montserrat', sans-serif;
  }

  .sub-c {
    display: flex;
    gap: 15px;
    font-size: 13px;
    align-items: center;
    text-wrap: pretty;
    width: 90%;
  }

  .ct {
    display: flex;
    flex-direction: column;
    gap: 20px;

  }

  .tarifa {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid #F00;
    border-top: 1px solid #F00;
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0;
    width: 120%;
  }

  .tarifa1 {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
  }

  .pp {
    font-size: 22px;
  }

  .tarifa2 {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }

  .kjj {
    padding: 10px;
    width: 60%;
    text-align: center;
    font-weight: 400px;
    font-size: 14px;
  }

  .kjj:hover {
    background-color: #99ff66;
    border-color: #ccc;
  }

  .takataka {
    color: #ccc;
    font-size: 11px;
    text-wrap: pretty;
    text-align: left;
    width: 300px;
  }

  .cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .card {
    background-color: #000;
    border: 1px solid #f00;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    width: fit-content;
    height: auto;
    box-sizing: content-box;
  }

  .cardimg {
    display: flex;
    justify-content: center;
  }

  .datos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  .datosS {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    gap: 20px;
  }

  .datos input {
    font-size: 16px;
    width: 200px;
    padding: 10px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #f00;
    color: #FFF;
  }

  .pagar {
    margin: 0 auto;
    padding: 10px 30px;
    color: #FFF;
    border: 1px solid #F00;
    width: fit-content;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
  }

  .pagar:hover {
    background-color: #F00;
    transition: 0.4s;
  }

  .active {
    display: block;
  }

  footer {
    background-color: #1E2529;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }

  .footerH {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 180px;
    border-bottom: 1px solid #F00;
    padding: 20px 0 40px 0; 
  }

  .footerH img {
    width: 240px;
    height: 70px;
  }

  .cubi {
    text-align: left;
    color: #FFF;
    text-wrap: pretty;
    font-size: 14px;
    width: 20%;
  }

  .redes2 {
    display: flex;
    gap: 15px;
    color: #fff;
    font-size: 18px;
    padding-left: 30px;
  }

  .dere {
    text-align: left;
    font-size: 13px;
    margin-left: 235px;
  }

  .containerCupon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #F00;
    border-top: 1px solid #F00;
    width: 1197px;
  }

  .cupon{
    text-align: left;
    width: 100%;
    font-size: 19px;
    padding: 10px ;
    font-weight: bold;
    border-bottom: 1px solid #F00;
  }

  .taka2 {
    text-align: left;
    width: 100%;
    font-size: 11px;
    padding: 10px;
  }

  .turnosIndex {
    background-color: #1E2529;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 0 5px 0;
  }

  .subTurnos {
    color: #374853;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .infoTurnos {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .imgturnos img{
    width: 580px;
    height: 92%;
  }

  .turnosturnos {
    color: #FFF;
    text-wrap: pretty;
    font-size: 15px;
    width: 40%;
  }

  .pipipi {
    padding: 20px 0;
    border-top: 1px solid #F00;
  }

  .containerNigga {
    margin: 0 auto;
    padding: 20px;
    text-wrap: pretty;
  }

  .nigga {
    margin: 0 auto;
    font-size: 15px;
    color: #ccc;
    font-family: 'Montserrat', sans-serif;
    width: 73%;
  }

  .barrita {
    height: 25px;
    background-color: #1E2529;
  }

  .arroz {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .arroz {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .ima {
    display: flex;
    align-items: center;
  }

  .ima img {
    width: 500px;
    margin: -30px 0 0 0;
  }

  .barrota {
    height: 200px;
    width: 10px;
    background-color: #F00;
  }

  .right {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    width: 40%;
  }

  .responsive {
    display: none;
  }

  @media only screen and (max-width: 768px) {

    .Header {
        padding: 10px 5px;
    }

    .subHeader {
        justify-content: space-between;
        font-size: 11px;
        padding: 0;
        width: 98%;
    }

    .ubi {
        display: none;
    }

    .kjj {
        display: none;
    }

    .ala {
        display: none;
    }

    .rew {
        display: flex;
        font-size: 13px;
        align-items: center;
        gap: 5px;
    }

    .redes {
        gap: 10px;
        align-items: center;
    }

    .redes img {
        height: 15px;
    }

    .MENU {
        display: none;
    }

    .Titulo {
        margin: 0;
    
    }

    .Titulo h1 {
        font-size: 26px;
        padding: 0;
        margin: 0 25px;
    }

    .Container {
        grid-template-columns: 1fr;
        width: 90%;
    }

    .cuarto {
        width: 90vw;
    }

    .comprabtn {
        text-align: center;
        padding: 10px 15px;
        width: fit-content;
        font-size: 12px;
    }

    .containerCupon {
        width: 91vw;
    }

    .infoTurnos {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .imgturnos {
        align-items: center;
    }

    .imgturnos img{
        width: 90vw;
    }

    .turnosturnos {
        width: 90vw;
        text-align: left;
    }

    .containerNigga {
        padding: 0 10px;
        width: 90vw;
    }

    .nigga {
        width: 100%;
        margin: 0;
    }

    .arroz {
        flex-direction: column-reverse;
    }

    .ima {
        width: 90vw;
    }

    .ima img {
        width: 88vw;
        margin: 0;
    }

    .barrota {
        height: 160px;
        width: 20px;
    }

    .right {
        width: 90vw;
    }

    .footerH {
        flex-direction: column;
        gap: 50px;
    }

    .footerH {
        display: none;
    }

    .responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footerprimero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        gap: 25px;
    }

    .cubi {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 90vw;
        gap: 10px;
        font-size: 14px;
    }

    .ubi2 {
        text-wrap: pretty;
    }

    .redes2 {
        font-size: 25px;
    }

    .dere {
        text-align: left;
        width: 90vw;
        margin: 0;
    }

    .carousel-container {
        width: 90vw;
    }

    .descripcion {
        flex-direction: column-reverse;
        width: 90vw;
    }

    .tarifa {
        width: 90vw;
    }

    .Carac {
        padding: 20px;
    }
    
    .cd {
        flex-direction: column;
        gap: 0;
    }

    .MENUR {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
    }

    .MENU2 {
        display: none;
        flex-direction: column;
        gap: 40px;
        font-family: 'Montserrat', sans-serif;
        color: #ccc;
        padding: 10px;
    }

    .submenu {
        flex-direction: column;
        gap: 20px;
    }

    .submenu2 {
        flex-direction: column;
        gap: 20px;
    }

    .submenu p{
        padding: 10px;
    }

    .submenu2 p{
        padding: 10px;
    }

    .menu-btn {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 10px;
    }
      
    .btn-line {
        width: 25px;
        height: 1px;
        background-color: #FFF;
        margin: 3px 0;
    }

    .active {
        display: flex;
    }

    .card {
        width: 90vw;
        height: 80vh;
        justify-content: space-between;
        border-radius: 0;
        border: none;
    }

    .datos {
        gap: 70px;
    }

    .datosS input {
        width: 100%;
    }
      
  }

  .MENUR {
    display: none;
  }

  .menu {
    display: none;
  }